body {
  font-family: "Helvetica Neue";
}

table {
  white-space: nowrap;
  overflow: scroll;
  border: 2px solid black; 
  border-spacing: initial;
}

.left-content { float: left } 

.legend {
  vertical-align: top;
}

.legend td, .chart td {
  vertical-align: middle;
  border: 1px solid black !important;
  text-align: center;
  height: 30px;
  width: 30px;
}

.r { 
  white-space: nowrap; 
  height: 30px;
}


.s {
  text-align: center;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  width: 30px;
  border-right: 1px solid var(--border);
}

.r  { border-bottom: 1px solid var(--border); }
.gx { border-bottom: 1px solid black; }
.gy { border-right: 1px solid black; }

.center {
  box-shadow: inset 0px 0px 0px 4px #f00;
}

.legend_div {
  padding: 10px;
  display: block
}

.debug {
  padding: 10px;
  display: block
}
.chart {
  display: inline-table;
  page-break-inside:auto;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
.legend .label  { padding: 0 10 0 10; }
td { border: 1px solid black; }
.interactive { margin: 20px }

@page { 
} 
@media print {
    .page-break { 
      display:block;
      page-break-after: always;
    } 
    
    /* make chart black and white for printing */
    .s { background-color: white !important; color: black !important; }
    .interactive { display: none }
    .page-header { align-content: center }
    .center { box-shadow: inset 0px 0px 0px 4px #000 }
}

